# ==========================================
# SPRING VALLEY DATA WAREHOUSE CONFIGURATION
# ==========================================

# Base Params for PostgreSQL Root/Admin Operation
POSTGRES_DB=definir nombre para la base de datos
POSTGRES_USER=definir nombre para usuario con privilegios administrativos
POSTGRES_PASSWORD=definir password
POSTGRES_HOST=definir nombre del host
POSTGRES_PORT=5432

# Custom Non-Root ETL/Maintenance User
POSTGRES_NON_ROOT_USER=definir nombre para usuario con privilegios limitados para administrar base de datos
POSTGRES_NON_ROOT_PASSWORD=definir password

# Read-Only / BI Analytics User (Power BI, Superset, Reporting)
ANALYTICS_USER=definir nombre para usuario con privilegios de solo lectura
ANALYTICS_PASSWORD=definir password

# Application / System Settings
TIMEZONE=America/Bogota